body {

}

.flag {
  width: 100%;
  height: auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fade {
  &-entering {
    transform: translateX(-50px);
    opacity: 0;
    transition: all .2s ease-in-out;

  }

  &-entered {
    transform: translateX(0px);
    opacity: 1;
    transition: all .2s ease-in-out;

  }
  &-exiting {
    transform: translateX(-50px);
    opacity: 0;
    transition: all .2s ease-in-out;

  }
  &-exited {
    display: none;
    transition: all .2s ease-in-out;

  }

}



