body {

}

.flag {
  width: 100%;
  height: auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fade {
  &-entering {
    transform: translateX(-50px);
    opacity: 0;
    transition: all .2s ease-in-out;

  }

  &-entered {
    transform: translateX(0px);
    opacity: 1;
    transition: all .2s ease-in-out;

  }
  &-exiting {
    transform: translateX(-50px);
    opacity: 0;
    transition: all .2s ease-in-out;

  }
  &-exited {
    display: none;
    transition: all .2s ease-in-out;

  }

}


.btn-circle{
  border-radius: 100px;
  width: 50px;
  height: 50px;
  position: fixed;
  font-size: 20px;
  line-height: 1.33;
  padding:10px 16px;
  right: 50px;
  bottom: 50px;
  z-index: 10;
}
