body {

}

.flag {
  width: 100%;
  height: auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-enter {
  opacity: 0.1;

  &.-active {
    opacity: 1;
    transition: all 0.2s ease-in;

  }
}

.fade-leave {

  &.-active {

  }
}


.item-enter {
  opacity: 0;
  color:red;
}
.item-enter-active {
  opacity: 1;
  color:red;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
